* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #f7f7f7;
  }
  
  header {
    text-align: center;
    background: url(https://i.guim.co.uk/img/media/49be862835499bff4e2ec73855c79bd08e143181/0_117_3500_2100/master/3500.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=ea15dd4d67153bda899e5444cd34f896);
    background-size: cover;
    width: 100%;
    height: 400px;;
  }
  
  h1 {
    color: black;
  }

  body {
    width: 100%;
    background-color: #1f1f1f;
  }

#container {
    display: inline-grid;
    justify-content: center;
}

  #about {
    max-width: 800px;
    justify-items: center;
    display: inline-grid;
    text-align: justify;
  }

  p {
    padding: 30px;
  }

  #roster {
    max-width: 800px;
    justify-items: center;
    display: inline-grid;
    padding: 30px;
  }

  table {
    width: 100%;
    border-top: 1px solid white;
  }

  td {
    border-top: 1px solid white;
    padding: 20px 20px;
  }

footer {
    width: 100%;
    background-color: rgb(128, 124, 124);
    height: 80px;
}

  a > img:hover {
	opacity: 0.5;
}
    
